@model DiplomScheduleMVC.Models.Schedule

@{
    ViewBag.Title = "Details";
}

<h2>Деталі запису</h2>

<div>
    <h4>Розклад</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Аудиторія
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Auditory.AuditoryNumber)
        </dd>

        <dt>
            День
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day.DayName)
        </dd>

        <dt>
            Група
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Group.GroupName)
        </dd>

        <dt>
            Пара
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pair.PairID)
        </dd>

        <dt>
            Предмет
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject.SubjectName)
        </dd>

        <dt>
            Викладач
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teacher.TeacherName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редагувати", "Edit", new { id = Model.ScheduleID }) |
    @Html.ActionLink("Повернутись", "Index")
</p>
