@model IEnumerable<DiplomScheduleMVC.Models.Schedule>

@{
    ViewBag.Title = "Розклад";
}

<h2>Розклад</h2>

<p>
    @Html.ActionLink("Додати", "Create")
</p>

<table class="table">
    <tr>
        <th>
            Аудиторія
        </th>
        <th>
            День
        </th>
        <th>
            Група
        </th>
        <th>
            Номер Пари
        </th>
        <th>
            Предмет
        </th>
        <th>
            Викладач
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Auditory.AuditoryNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Day.DayName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Group.GroupName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pair.PairNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject.SubjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Teacher.TeacherName)
        </td>
        <td>
            @Html.ActionLink("Редагувати", "Edit", new { id=item.ScheduleID }) |
            @Html.ActionLink("Деталі", "Details", new { id=item.ScheduleID }) |
            @Html.ActionLink("Видалити", "Delete", new { id=item.ScheduleID })
        </td>
    </tr>
}

</table>
