@model IEnumerable<DiplomScheduleMVC.Models.Schedule>

@{
    ViewBag.Title = "Розклад";
}

<h2>Розклад</h2>

<p>
    @Html.ActionLink("Додати", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Auditory.AuditoryID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Day.DayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Group.GroupName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pair.PairID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject.SubjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Teacher.TeacherName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Auditory.AuditoryID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Day.DayName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Group.GroupName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pair.PairID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject.SubjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Teacher.TeacherName)
        </td>
        <td>
            @Html.ActionLink("Редагувати", "Edit", new { id=item.ScheduleID }) |
            @Html.ActionLink("Деталі", "Details", new { id=item.ScheduleID }) |
            @Html.ActionLink("Видалити", "Delete", new { id=item.ScheduleID })
        </td>
    </tr>
}

</table>
