@model IEnumerable<DiplomScheduleMVC.Models.Group>

@{
    ViewBag.Title = "Групи";
}

<h2>Групи</h2>

<p>
    @Html.ActionLink("Додати", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Група
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GroupName)
        </td>
        <td>
            @Html.ActionLink("Редагувати", "Edit", new { id=item.GroupID }) |
            @Html.ActionLink("Деталі", "Details", new { id=item.GroupID }) |
            @Html.ActionLink("Видалити", "Delete", new { id=item.GroupID })
        </td>
    </tr>
}

</table>
