
@{
    ViewBag.Title = "Адмін Панель";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Адмін Панель</title>
</head>
<body>

    <div class="buttonAdmin"><p>@Html.ActionLink("Розклад", "", "Schedules")</p></div>
    <div class="buttonAdmin"><p>@Html.ActionLink("Групи", "", "Groups")</p></div>
    <div class="buttonAdmin"><p>@Html.ActionLink("Номер Пари", "", "Pairs")</p></div>
    <div class="buttonAdmin"><p>@Html.ActionLink("Предмети", "", "Subjects")</p></div>
    <div class="buttonAdmin"><p>@Html.ActionLink("Викладачі", "", "Teschers")</p></div>
    <div class="buttonAdmin"><p>@Html.ActionLink("Дні", "", "Days")</p></div>
    <div class="buttonAdmin"><p>@Html.ActionLink("Аудиторії", "", "Auditories")</p></div>

</body>
</html>

