@model List<DiplomScheduleMVC.Models.Schedule>
@using DiplomScheduleMVC.Models;
@{
    ViewBag.Title = "Головна";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Розклад</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
            $(document).ready(function() {
                $("body").css("display", "none");
                $("body").fadeIn(2000);
        });
</script>
<body>
    @{ 
//var Groups = (List<string>)ViewData["GroupList"];
    }
    <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        Виберіть групу
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
        @foreach (var b in ViewData["group"] as List<Group>)
        {
            <li>
                <a class="dropdown-item" href="@Url.Action("Index", "Home", new { groupId = b.GroupID })">@b.GroupName</a>

            </li>
        }
    @*@foreach (var b in ViewBag.Groups)
    {
      <li><a href="#">@b.</a></li>
    }*@
    </ul>
  </div>

    @*@Html.DropDownList("GroupID", ViewBag.Groups as SelectList);*@
    @if (ViewBag.groupId != 0)
    {
        <div>
            <table class="table">
                <tr>
                    <th>Група</th>
                    <th>Аудиторія</th>
                    <th>День</th>
                    <th>Пара</th>
                    <th>Предмет</th>
                    <th>Викладач</th>
                </tr>
                @foreach (var b in Model)
                {
                    <tr>
                        <td><p>@b.Group.GroupName</p></td>
                        <td><p>@b.Auditory.AuditoryNumber</p></td>
                        <td><p>@b.Day.DayName</p></td>
                        <td><p>@b.Pair.PairNumber</p></td>
                        <td><p>@b.Subject.SubjectName</p></td>
                        <td><p>@b.Teacher.TeacherName</p></td>
                    </tr>
                }
            </table>
        </div>
    }
    
</body>
</html>