@model List<DiplomScheduleMVC.Models.Schedule>
@using DiplomScheduleMVC.Models;
@using Pair = DiplomScheduleMVC.Models.Pair
@{
    ViewBag.Title = "Розклад занять";
    List<Day> days = new List<Day>();
    if (ViewData["dayList"] != null)
    {
        days = ViewData["dayList"] as List<Day>;
    }
    List<Pair> pairs = new List<Pair>();
    if (ViewData["pairList"] != null)
    {
        pairs = ViewData["pairList"] as List<Pair>;
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Розклад</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("body").css("display", "none");
        $("body").fadeIn(2000);
    });
</script>
<body>
    
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                Виберіть групу
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                @foreach (var b in ViewData["group"] as List<Group>)
                {
                    <li>
                        <a class="dropdown-item" href="@Url.Action("Index", "Home", new { groupId = b.GroupID })">@b.GroupName</a>
                    </li>
                }
            </ul>
        </div>
    

    
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                Виберіть викладача
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                @foreach (var b in ViewData["teacher"] as List<Teacher>)
                {
                    <li>
                        <a class="dropdown-item" href="@Url.Action("Index", "Home", new { teacherId = b.TeacherID })">@b.TeacherName</a>
                    </li>
                }
            </ul>
        </div>
    

    @*@Html.DropDownList("GroupID", ViewBag.Groups as SelectList);*@
    @if (ViewBag.groupId != 0)
    {
         
            var groupName = "";
            var nameFlag = false;
            if (nameFlag == false)
            {
                foreach (var b in Model)
                {
                    groupName = b.Group.GroupName;
                    nameFlag = true;
                }
            }
        
        <div class="ForWhom">
            <p>Розклад для <strong>@groupName</strong></p>
        </div>
        <table class="table">
            <tr>
                <th></th>
                @foreach (var day in days)
                {
                    <th>@day.DayName</th>
                }
            </tr>
            @foreach (var pair in pairs)
            {
                <tr>
                    <td><strong>@pair.PairNumber</strong></td>
                    @foreach (var day in days)
                    {
                        <td>
                            @if (Model.Any(x => x.DayID == day.DayID && x.PairID == pair.PairID))
                            {
                            <span>Предмет: @Model.FirstOrDefault(x => x.DayID == day.DayID && x.PairID == pair.PairID).Subject.SubjectName</span>
                            <br />
                            <span>Викладач: @Model.FirstOrDefault(x => x.DayID == day.DayID && x.PairID == pair.PairID).Teacher.TeacherName</span>
                            <br />
                            <span>Аудиторія: @Model.FirstOrDefault(x => x.DayID == day.DayID && x.PairID == pair.PairID).Auditory.AuditoryNumber</span>
                            <br />
                            }
                        </td>
                    }
                </tr>
            }
        </table>

    }

    @if (ViewBag.teacherId != 0)
    {
        var teacherName = "";
        var nameFlag = false;
        if (nameFlag == false)
        {
            foreach (var b in Model)
            {
                teacherName = b.Teacher.TeacherName;
                nameFlag = true;
            }
        }

        <div class="ForWhom">
            <p>Розклад для <strong>@teacherName</strong></p>
        </div>
        <table class="table">
            <tr>
                <th></th>
                @foreach (var day in days)
                {
                    <th>@day.DayName</th>
                }
            </tr>
            @foreach (var pair in pairs)
            {
                <tr>
                    <td><strong>@pair.PairNumber</strong></td>
                    @foreach (var day in days)
                    {
                        <td>
                            @if (Model.Any(x => x.DayID == day.DayID && x.PairID == pair.PairID))
                            {
                                <span>Предмет: @Model.FirstOrDefault(x => x.DayID == day.DayID && x.PairID == pair.PairID).Subject.SubjectName</span>
                                <br />
                                <span>Група: @Model.FirstOrDefault(x => x.DayID == day.DayID && x.PairID == pair.PairID).Group.GroupName</span>
                                <br />
                                <span>Аудиторія: @Model.FirstOrDefault(x => x.DayID == day.DayID && x.PairID == pair.PairID).Auditory.AuditoryNumber</span>
                                <br />
                            }
                        </td>
                    }
                </tr>
            }
        </table>
       
    }

</body>
</html>